.category .feed
{
  margin: 4px 15px;
  float: right;
  line-height: 25px;
  background-position: left center;
}

.category .feed a
{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.jobs, .seul-jobs
{
 width: 760px;
 margin: 0 auto;
}

.jobs tr.even, .seuls-jobs tr.even
{
  background-color: #f3fafc;
}

.jobs tr.odd, .seul-jobs tr.odd
{
}

.jobs tr:hover, .seul-jobs tr:hover
{
  background-color: #fff;
}

.jobs td
{
  padding: 2px 5px;
  border-bottom: 1px dotted #999;
}

.seul-jobs td
{
  padding: 0px 0px;
}

.jobs td.position,
.jobs td.location
{
  border-right: 1px dotted #999;
  border-left: 1px dotted #999;
}

.jobs .location
{
  color: #524F46;
  font-weight: bold;
  width: 30%;
}

.jobs .company
{
  color: #d2813f;
  width: 30%;
  border-right: 1px dotted #999;
  border-left: 1px dotted #999;
}

.jobs .new-company
{
  color: #524F46;
  width: 30%;
  border-right: 1px dotted #999;
  border-left: 1px dotted #999;
}

.jobs .position
{
  padding: 0;
  color: #524F46;
  width: 40%;
}

.jobs .position a
{
  padding: 12px 15px;
  display: block;
  text-decoration: none;
}

.jobs .position a:hover
{
  text-decoration: underline;
}

.more_jobs
{
  text-align: right;
  text-transform: uppercase;
  font-size: 85%;
  margin: 5px 15px 15px;
  clear: both;
}

.more_jobs a
{
  color: #176f94;
  text-decoration: none;
  font-weight: bold;
  font-size: 130%;
}

.more_jobs a:hover
{
  color: #176f94;
  text-decoration: underline;
}

.pagination_desc
{
  margin-left: 15px;
  margin-top: 10px;
  font-style: italic;
  color: #828f95;
}

.pagination_desc strong
{
  color: #176f94;
}

.pagination
{
  margin-top: 10px;
  float: right;
  margin-right: 10px;
  color: #176f94;
  font-size: 110%;
  font-weight: bold;
}

.pagination a
{
  margin: 0 1px;
  text-decoration: none;
  color: #828f95;
  font-size: 75%;
  vertical-align: 1px;
  font-weight: normal;
}

.pagination a:hover
{
  text-decoration: underline;
}

.pagination img
{
  vertical-align: -2px;
}

/*Aucun contour pour les liens image*/
img.actions, a.actions img {
	border: 0;
	width: 25px;
	height: 25px;
}

/*Aucun contour pour les liens image*/
img.mini-actions, a.mini-actions img, img.mini-actions-modif{
	border: 0;
	width: 15px;
	height: 15px;
}

input#mouvement_traite, input#compte_newMouvements_0_traite, input#compte_newMouvements_1_traite, input#compte_newMouvements_3_traite, input#compte_newMouvements_1_traite, input#compte_newMouvements_4_traite {
	width: 25px;
}

input#mouvement_libelle, input#compte_newMouvements_0_libelle, input#compte_newMouvements_1_libelle, input#compte_newMouvements_2_libelle, input#compte_newMouvements_3_libelle, input#compte_newMouvements_4_libelle {
	width: 270px;
}

select#mouvement_date_day, select#compte_newMouvements_0_date_day, select#compte_newMouvements_1_date_day, select#compte_newMouvements_2_date_day, select#compte_newMouvements_3_date_day, select#compte_newMouvements_4_date_day {
	width: 45px;
}

select#mouvement_date_month, select#compte_newMouvements_0_date_month, select#compte_newMouvements_1_date_month, select#compte_newMouvements_2_date_month, select#compte_newMouvements_3_date_month, select#compte_newMouvements_4_date_month {
	width: 50px;
}

select#mouvement_date_year, select#compte_newMouvements_0_date_year, select#compte_newMouvements_1_date_year, select#compte_newMouvements_2_date_year, select#compte_newMouvements_3_date_year, select#compte_newMouvements_4_date_year {
	width: 60px;
}

table.seul-jobs td.NumeroCentre input {
	text-align: center;
	width: 85px;
}